.App {
  text-align: center;
}
.section {
  height: 100px;
  min-height: 100%;
  color: whitesmoke;


}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.image {

  filter: brightness(0) invert(1);
  opacity: .8;
}
.arrow{
  position: absolute;
  margin-top: 750px;

  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }


  .section1Mobile {
    display: -webkit-box;
    
    display: -moz-box;
    display: -ms-flexbox; 
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: left;
    position: absolute;
  
    top: 50%;
  
    left: 53%;
  
    transform: translate(-50%, -50%);
  
    margin: 0;  
    flex-direction: column;
      /* The image used */
  
      /* Set a specific height */
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
  
  }
.section1 {
  display: -webkit-box;
  
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  position: absolute;

  top: 50%;

  left: 52%;

  transform: translate(-50%, -50%);

  margin: 0;  
  flex-direction: column;
    /* The image used */

    /* Set a specific height */
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  

}
.test{
  backdrop-filter:blur(20px) brightness(110%);
  
}

.slide0{
  background-color: #282c34;
}

.section2 {
  min-height: 100%;
  height: auto;
  color: whitesmoke;
  display: flex;
  justify-content: center;


}

.profile{
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all .2s ease-in-out; 
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #cf7a09 !important;
}

.section3{
  width: 100%;
  min-height: 100%;
    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #cf7a09 0%,
    #ff1100 29%,
    #d80a4e 67%,
    #eca343 100%
  );

  margin-top: -50px;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
      font-size: 60px;
      font-weight: 900;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.text  {
  font-size: 30px;
  z-index: 4;

  
}

.profile:hover { transform: scale(1.1); }

.accelerated.box {
  transition: transform 750ms;
  will-change: transform;
}
.accelerated.box:hover,
.accelerated.box:focus {
  transform: translateY(10px);
}

.janky.box {
  transition: margin-top 750ms;
  will-change: margin-top;
  background: deeppink;
}
.janky.box:hover,
.janky.box:focus {
  margin-top: 10px;
}
.text2  {
  font-size: 30px;
  margin-Top: 50px;

  
}

.textProject {
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: -100px;
}

@keyframes onHoverAnimation {
  0% {
      background-color: #FF0;  
  }
  100% {
      background-color: #AD310B;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
}
.fp-controlArrow.fp-prev {
  left: 50px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 50px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
